<div class="game-over-menu">
    <div class="text-block"><p><%= text %></p></div>
    <div class="rounds-completed"><div class="rounds-menu"><h3><%= rounds %> rounds completed</h3></div></div>
    <div class="time-elapsed"><p><%= time %> seconds elapsed</p></div>
    <p class="space">- Space to continue -</p>
    <div class="website-btn btn"><a href="http://www.likethemammal.com/">WWW</a></div>
</div>