<div class="how-to-menu">
    <div class="how-to-ui-container-left">
        <div class="how-to-text"><p>Sample Text</p></div>
        <div class="how-to-text"><p>Sample Text</p></div>
        <div class="how-to-text"><p>Sample Text</p></div>
        <div class="how-to-text"><p>Sample Text</p></div>
    </div>
    <div class="how-to-ui-container-right">
        <div class="how-to-ui-el how-to-indicator"><img src="assets/indicator-check.png"></div>
        <div class="how-to-ui-el how-to-indicator"><img src="assets/indicator-x.png"></div>
        <div class="how-to-ui-el how-to-wasd-key"></div>
        <div class="how-to-ui-el how-to-space-key"></div>
    </div>
    <div class="back-ui-btn btn"></div>
</div>