<img class="start-title" src="assets/title.png">
<div class="start-menu">
    <div class="start-btn btn"><h3>Start</h3></div>
    <div class="how-to-btn btn"><h3>How-to</h3></div>
    <div class="website-btn btn"><a href="http://www.likethemammal.com/">WWW</a></div>
</div>