<div class="victory-menu">
    <div class="text-block"><p><%= text %></p></div>
    <div class="time-elapsed"><p><%= time + 0.2 %> seconds elapsed</p></div>
    <p class="space">- Space to continue -</p>
    <div class="website-btn btn"><a href="http://www.likethemammal.com/">WWW</a></div>
</div>